.grid-wrap {
  position: relative;
}

.image-grid {
  width: 600px;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  //position: relative;
}
.img-c {
  width: 200px;
  height: 200px;
  float: left;
  position: relative;
  overflow: hidden;
}

.img-w {
  position: absolute;
  width: 90%;
  height: 90%;
  background-size: contain;
  background-repeat: none;
  background-position: center;
  cursor: pointer;
  transition: transform ease-in-out 300ms;
}

.img-w img {
  display: none;
}

.img-c {
    background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.img-c:hover .img-w {
  transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-c.isactive {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 2;
  background-color: #d6ccc0dc;
  //transform: translateX(-50%);
}

.img-c.postactive {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.img-c.isactive.positioned {
  left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;
}

@media screen and (max-width: 475px) {
  .image-grid {
    width: 100vw;
  }
}