
.imgcont {
  margin: 1vh 1vh 0 1vh;
  background-size: 7vh auto;
  height: 7vh;
  width: 7vh;
}
.wares {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  justify-content: center;
}

.adobesw, .fedsw, .othersw {
  padding: 3vh;
}

.waresused{
  position: relative;
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  z-index: 20;
}
.waressmol {
   margin-right: 10px;
  background-size: 50px auto;
  height: 50px;
  width: 50px;
}

.jobtitle, .schoolname{
  font-size: 12px;
  padding-left: 1em;
  color: #606060;
}
.when {
  position: absolute;
  right: 1em;
  bottom: -.45em;;

  font-size: 25px;
  opacity: 0.8;
  color: #b6af9f;
}

.desc {
  font-size: 11px;
}

li{
  padding-left: 15px;
  padding-top: 5px;
  color: #7d7d7d;
}

@media screen and (min-width: 475px) {

.wares {
  display: flex;
  flex-direction: row;
}
}