// .modal-content {
//   position: relative;
//   height: 100%;
//   width: 100%;
//   overflow-y: auto;
//   box-shadow: 0 10px 35px rgba(144, 137, 137, 0.2);
//   animation: scaleIn 0.50s ease;
// }

// .modal-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background: rgba(22, 11, 31, 0.8);
//   backdrop-filter: blur(2px);
//   display: flex;
//   z-index: 1000;
//   animation: fadeIn 0.50s ease

// }
// .xbutton {
//   position: relative;
//   top: 12%;
//   left:10%;
//   background: transparent;
//   border: none;
//   color: white;
//   font-size: 3vw;
//   cursor: pointer;
//   z-index: 100;
// }

// @media screen and (min-width: 475px) {
// .xbutton {
//   left: 10%;
// }

// }

// @keyframes fadeIn {
//           from { opacity: 0; }
//           to { opacity: 1; }
//         }

//         @keyframes scaleIn {
//           from {
//             opacity: 0;
//             transform: scale(0.9);
//           }
//           to {
//             opacity: 1;
//             transform: scale(1);
//           }
//         }