.book-container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  perspective: 2000px;
}

.book-base {
  position: absolute;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  //background: #b3a188;
  //border-radius: 10px;
//   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.book {
  position: relative;
  // width: 300px;
  // height: 400px;
  width: 35vw;
  height: 90vh;
  max-height: 90%;
  max-width: 100%;
  transform-style: preserve-3d;
  transform: translateX(150px);
}

.bookpage {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform 1s ease;
  //color: black;
}

.bookpage img {
    height: 100%;
    width: 100%;
    background-size: contain;
}
.side {
  position: absolute;
  width: 100%;
  height: 100%;
  //padding: 20px;
  backface-visibility: hidden;
  //box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  //border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.back {
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  background: black;
}

@media screen and (min-width: 100px) and (max-width: 1023px) and  (orientation:portrait) {

  .bookpage {
    opacity: 0;
  }
  .book-container{
    background-color: #00000071;
  }
}

@media screen and (min-width: 100px) and (max-width: 1023px) and (orientation:landscape) {
    .isworking p{
      opacity: 0;
      height: 0;
      width: 0;
    }
}

@media only screen and (min-width: 100px) and (max-width: 1023px) {
  // .isworking p{
  //   color: green;
  // }

  .book {
  width: 30dvw;
  height: 90dvh;
  //max-height: 80%;
  //max-width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .isworking {
  opacity: 0;
}
}


// @media only screen and (min-width: 769px) and (max-width: 1023px) {

// }
