.book-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  perspective: 2000px;
}

.book-base {
  position: absolute;
  width: 620px;
  height: 420px;
  //background: #b3a188;
  //border-radius: 10px;
//   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.book {
  position: relative;
  // width: 300px;
  // height: 400px;
  width: 35vw;
  height: 90vh;
  max-height: 90%;
  max-width: 100%;
  transform-style: preserve-3d;
  transform: translateX(150px);
}

.bookpage {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform 1s ease;
  //color: black;
}

.bookpage img {
    height: 100%;
    width: 100%;
    background-size: contain;
}
.side {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  //padding: 20px;
  backface-visibility: hidden;
  //box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  //border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.back {
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  background: black;
}

.cover {
  background: #b3a188;
}

// /* Page 1 - back of first .page */
// .bookpage:nth-child(1) .back {
//   background: #ffdddd; /* Light Red */
// }

// /* Page 2 - front of second .page */
// .bookpage:nth-child(2) .front {
//   background: #ddffdd; /* Light Green */
// }

// /* Page 3 - back of second .page */
// .bookpage:nth-child(2) .back {
//   background: #bbddbb; /* Darker Green */
// }

// /* Page 4 - front of third .page */
// .bookpage:nth-child(3) .front {
//   background: #ddddff; /* Light Blue */
// }

// /* Page 5 - back of third .page */
// .bookpage:nth-child(3) .back {
//   background: #bbbbdd; /* Darker Blue */
// }

// /* Page 6 - front of fourth .page */
// .bookpage:nth-child(4) .front {
//   background: #fff0bb; /* Light Yellow */
// }

@media only screen and (min-width: 100px) and (max-width: 1023px) {
  // .isworking p{
  //   color: green;
  // }

  .book {
  width: 36vw;
  height: 90vh;
  max-height: 80%;
  max-width: 90%;
  }
}


// @media only screen and (min-width: 769px) and (max-width: 1023px) {

// }
