.features {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.portitem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
  height: 100vh;
}

.portitem--left {
  flex-direction: row;
}

.portimage {
  flex: 40%;
  height: 35svh;
  position: relative;
}

.portcard {
  position: relative;
  height: 50svh;
}

.portimg {
  //max-width: 100%;
  position: absolute;
  object-fit: cover;
  display: block;
  height: 60%;
  width: 100%;
  // padding-right: 60px;
}

.portcontent {
  flex: 1 1 55%;
  padding: 0 10% 0 10%;
    margin-bottom: 2em;
}

.porttitle {
  font-size: 1.8em;
  margin-block-end: 1rem;
  color: #482a4e;
}

.portdescription {
  line-height: 1.4;
  color: #2f1921;
  font-size: 2.5vh;
  
  //padding: 10%;
}

.portdescription p {
  font-size: 2vh;
  color: #2f1921;
}

.gallery__item,
.portitem,
.portimg {
  will-change: transform, opacity;
}


/* GSAP animation reveal styles */
.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

.portspacer {
  height: 100vh;
}

.backbtn {
  padding: 1em;
  top: 2vh;
  left: 3vh;
  border-radius: 30px;
  position: fixed;
  background-color: #482a4e;
  opacity: 0.8;
  color: #d6ccc0;
  z-index: 50;
}

.illu p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.gallery-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
}

.gallery__item {
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
  }
}

.gallery--bento {
  display: grid;
  gap: 1vh;
  grid-template-columns: repeat(3, 32.5vw);
  grid-template-rows: repeat(4, 23vh);
  justify-content: center;
  align-content: center;
}

.gallery--final.gallery--bento {
  grid-template-columns: repeat(3, 100vw);
  grid-template-rows: repeat(4, 49.5vh);
  gap: 1vh;
}

.gallery--bento .gallery__item:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}

.gallery--bento .gallery__item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.gallery--bento .gallery__item:nth-child(3) {
  grid-area: 2 / 2 / 4 / 3;
}

.gallery--bento .gallery__item:nth-child(4) {
  grid-area: 1 / 3 / 3 / 3;
}

.gallery--bento .gallery__item:nth-child(5) {
  grid-area: 3 / 1 / 3 / 2;
}

.gallery--bento .gallery__item:nth-child(6) {
  grid-area: 3 / 3 / 5 / 4;
}

.gallery--bento .gallery__item:nth-child(7) {
  grid-area: 4 / 1 / 5 / 2;
}

.gallery--bento .gallery__item:nth-child(8) {
  grid-area: 4 / 2 / 5 / 3;
}

.section {
  padding: 2rem 4rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 3vh 5vh 3vh;
  width: 100vw;
  background-color: #d6ccc0;
}

.contactp {
  font-size: 1.5vh;
  color: #2f1921;
}

.contactp a {
  color: #482a4e;
}

.PVButton {
  padding:3% 50%;
  border-radius: 10px;
  font-size: 2vh;
  background-color: #482a4e;
}

//DESKTOP VIEWPORTS

@media screen and (min-width: 1024px) {
  .portdescription {
  font-size: 2.5vh;
  padding: none;
  color: #2f1921;
}
  .portcontent {
    padding: 10vw;
  }
  .portitem{
    gap: 0;
    display: flex;
    }
  .portitem--left {
    align-items: right;
}
.portitem--right {
  flex-direction: row-reverse;
  text-align: right;
  align-items: left;
}

.--left{
  margin-left: 45%;
}

.portimg {
  width: 45%;
  height: 100%;
  flex: 1 1 40%;
  // border-radius: 16px;
}
.PVButton {
  margin: 3vh 15vh 0 0;
  font-size: 1.5vh;
  display: flex;
  right: 0;
  padding: 1% 25%;
}

.portdescription {
  font-size: 2vh;
}
}

//TABLET VIEWPORTS

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .features {
    gap: 0;
  }

  .portitem {
    flex-direction: column;
    align-items: normal;
  }

  .portimg {
    width: 100svw;
    height: 40%;
  }

  .PVButton{
     padding: 1em 2em 1em 2em;
     width: 40%;
     font-size: 2.5vw;
  }

  .portdescription {
    font-size: 2.5vw;
    padding: 2em 3em 2em 0em;
  }

  .portcontent {
    padding: 3em;
    //background: #d6ccc0;
    //margin-bottom: 2em;
    border-radius: 50px;
  }
}