body {
  margin: 0;
  height: 100%;
  //-webkit-overflow-scrolling: touch;
  font-family: "Signika Negative", sans-serif, Arial;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
}
#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#sectionnav a {
  display: block;
}